# Ignore Unity build files and temporary cache
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Logs/
UserSettings/
MemoryCaptures/
.DS_Store

# Ignore ML-Agents results and logs
results/
*.log
*.txt

# VSCode / Rider
.vscode/
.idea/
*.csproj
*.sln

# burst packages and big caches
**/PackageCache/com.unity.burst@*/.Runtime/
